form {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.text {
  width: 100%;
  margin-top: 5px !important;
}

.text,
.title {
  display: block;
}

.uploadInput {
  display: none;
}

.uploadButton {
  margin-top: 5px !important;
}

.formActionButton {
  margin-right: 10px !important;
  margin-top: 5px !important;
}
